
.speech-bubble-wrapper {
    position: absolute;
    z-index: 7;
    bottom: calc(100vh - 250px);
    left: 200px;
  }
  
  .speech-bubble {
    font-family: fantasy;
    font-weight: normal;
    background-color: white;
    color: black;
    border-radius: 0.4em;
  
    width: 360px;
    padding: 30px 15px;
    margin: 1em 0;
    text-align: center;
    /* font-size: 200%; */
    font-size: 150%;
  
    text-shadow: 0 -0.05em 0.1em rgba(0, 0, 0, 0.3);
    transform: scale(0.5) translateY(200px) rotate(55deg);
    opacity: 0;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  }
  
  .speech-bubble.show {
    transform: scale(1) translateY(0px) rotate(0deg);
    opacity: 1;
  }
  .speech-bubble-triangle {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 0;
    height: 0;
    border: 42px solid transparent;
    /* border-top-color: #00cee0; */
    border-top-color: white;
    border-bottom: 0;
    border-left: 0;
    margin-left: -21px;
    margin-bottom: -42px;
  }
  
  .speech-bubble__content {
    padding: 0;
    margin: 0;
  }
  